@import "tailwindcss";

:root {
  --background: #f5fd6d;
  --foreground: #f5fd6d;
  --textCustom:#434819;
  --secondary:#b5bb36;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-custom:var(--textCustom);
  --color-secondary:var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  
}

body {
  background: black;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
